<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<% if current_user.uid != @user.uid %> 
  <% if current_user.friends.include?(@user) %>
    <%= button_to 'Remove as Friend', {controller: 'relationships', action: 'destroy', id: current_user.relationships.find_by_friend_id(@user)}, :method => :delete %>
  <% else %>
    <%= button_to "Add as Friend", {action: 'create', controller: 'relationships', friend_id: @user.id } %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
